// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

.header-section {
  width: 100%;
  border-collapse: collapse !important;
  border-spacing: 0;
  text-align: left;
  padding: 0;
  margin: 0 auto;

  .header-left {
    display: table-cell;
    text-align: left;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 11px;
    color: #696a6d;
  }

  .header-right {
    display: table-cell;
    text-align: right;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 5%;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 11px;
    color: #696a6d;

    a {
      text-decoration: none;
      color: #696a6d;
    }
  }
}

.hero-section {
  width: 100%;
  background-color: #e20074;
  border: 0;
  border-collapse: collapse !important;
  border-spacing: 0;
  display: table;

  .hero-header.container {
    background-color: #e20074;
    display: table;
    width: 100%;

    td.logo {
      width: 100%;
      display: table-cell;
      padding-top: 3px;
      padding-right: 30px;
      padding-bottom: 3px;
      padding-left: 30px;

      a {
        cursor: pointer;

        img {
          width: 160px;
          border: 0;
          display: block;
        }
      }
    }
  }

  .hero-bottom.container {
    background-color: #e20074;
    display: table;
    width: 100%;

    td.hero-img {
      width: 100%;
      display: table-cell;

      a {
        cursor: pointer;

        img {
          display: block;
          width: 414px;
          margin: 0 auto;
        }
      }
    }
  }
}

.main-section {
  display: table;
  width: 100%;
  border: 0;
  border-collapse: collapse !important;
  border-spacing: 0;

  .tvision {
    padding-top: 25px !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;

    img {
      width: 414px;
      border: 0;
      display: block;
      margin: 0 auto;
    }
  }

  .text-area {
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 30px;

    .text {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      padding-bottom: 18px;
    }

    table.button {
      margin: 0 auto;
      width: 190px;

      td {
        background-color: #e20074;
        border: none;
        text-align: center;

        a {
          border: 1px solid #e20074;
          display: inline-block;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          line-height: 16px;
          font-family: Arial, sans-serif;
          white-space: nowrap;
          font-weight: normal;
        }
      }
    }
    .number {
      th {
        padding-top: 18px;
        padding-bottom: 18px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 22px;
        margin: 0 auto;
        text-align: center;

        a {
          text-align: center;
          margin: 0 auto;
          color: #e20074;
          text-decoration: underline;
          font-weight: bold;
          text-align: center;
        }
      }
    }

    .disclaimer {
      th {
        font-family: Arial, sans-serif;
        font-size: 11px;
        line-height: 16px;
        color: #4c4c4c;
        padding-top: 0;
        padding-right: 20px;
        padding-bottom: 0;
        padding-left: 20px;
      }
    }
  }
}

.presentation-section {
  width: 100%;
  border: 0;
  border-collapse: collapse !important;
  border-spacing: 0;

  img {
    display: block;
    border: 0;
  }
  .tvbox-table {
    width: 100%;
    background-color: #e20074;

    td {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      font-weight: bold;
      padding-top: 25px;
      padding-right: 30px;
      padding-bottom: 25px;
      padding-left: 30px;
    }
  }
}

.bottom-img-section {
  width: 100%;
  background-color: #000;
  td {
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0;
    text-align: center;
    background-color: #000;

    img {
      display: block;
      border: 0;
      width: 414px;
      margin: 0 auto;
    }
  }
}

.footer-section {
  width: 100%;
  background-color: #e8e8e8;

  td {
    background-color: #e8e8e8;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 16px;
    color: #6a6a6a;

    a {
      color: #6a6a6a;
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 596px) {
  .header-section {
    .header-left {
      display: none !important;
    }
  }

  .hero-section {
    .container.hero-header {
      width: 100% !important;
      .logo {
        padding-left: 5% !important;
        padding-right: 5% !important;

        img {
          width: 130px !important;
        }
      }
    }

    .container.hero-bottom {
      width: 100% !important;
      .hero-img {
        img {
          width: 100% !important;
        }
      }
    }
  }

  table.row {
    width: 414px !important;
  }

  .container.main-section {
    width: 414px !important;

    .columns.tvision {
      width: 414px !important;
    }

    .text-area {
      padding-left: 5% !important;
      padding-right: 5% !important;

      .text {
        hyphens: none;
        word-wrap: normal;
      }
    }
  }

  .container.presentation-section {
    .tvbox-table {
      td {
        padding-left: 5% !important;
        padding-right: 5% !important;
      }
    }
  }

  .container.footer-section {
    td {
      padding-left: 5% !important;
      padding-right: 5% !important;
      hyphens: none !important;
      word-wrap: normal !important;
    }
  }
}
