<container class="footer-section">
  Limited time offer; subject to change. Connected Set‑Top Box ($10/mo.)
  required. Check to confirm service and channels in your area. Channels &
  packages can change. Plus taxes; taxes approx. 4‑20% of bill. Eligible
  credit/debit card required. Place optional Lite Boxes ($10/mo. each) within
  range of Set‑Top Box. Select content available in 4K with compatible
  TV/device. Third‑party subscriptions may be required for some content.
  <b>ETF offer:</b>
  Limited‑time offer; subject to change. Qualifying credit & TVision service
  required. Reimbursement via prepaid MasterCard® Card in amount of eligible
  satellite TV provider's Early Termination Fee (prepaid card expires in 12
  months). Submit proof of eligible ETF (up to $500 per account) & 90+ days with
  satellite TV provider at same service address as new TVision service; must
  submit within 90 days of cancelling prior service and opening TVision account
  and be active and in good standing when processed. Allow 10 weeks. We might
  ask for more information. One offer per subscriber. Cards issued by Sunrise
  Banks N.A., Member FDIC, pursuant to a license from Mastercard International
  Incorporated. Mastercard is a registered trademark of Mastercard International
  Incorporated. Virtual prepaid cards (via SMS) for T‑Mobile wireless customers
  & physical card (via mail) for others. Physical cards for use where MasterCard
  debit cards are accepted; some limitations for virtual cards. Cards will not
  have cash access. Use of this card constitutes acceptance of the terms and
  conditions stated in the Cardholder Agreement.
  <b>See Terms and Conditions (including arbitration provision)</b>
  at <a href="https://www.t-mobile.com/tv">TVision.com</a> for additional
  information. TVision is a trademark of T‑Mobile USA, Inc. T‑Mobile, the T
  logo, and the magenta color are registered trademarks of Deutsche Telekom AG.
  ©2019 T‑Mobile USA, Inc.
  <br />
  <br />
  To ensure future delivery emails, please add
  <a href="mailto:news@t-mobile-email.com" target="_blank"
    >news@t-mobile-email.com</a
  >
  to your safe sender list or address book.
  <br />
  <br />
  This email was sent to
  <a href="mailto:grcdrew29@gmail.com">grcdrew29@gmail.com</a>. If you've
  received this message in error, or if you prefer not to receive future
  promotional email messages from T-Mboile, please
  <a
    href="http://whatcounts.com/bin/listctrl?c=ack&s=6700EAF45F07D38EC21FC59167D538357C83D753F7EBE9EB&e=grc29@icloud.com&oc=unsubscribe"
    >unsubscribe</a
  >.
  <br />
  <br />
  T-Mobile USA, Inc., <span>P.O. Box 37380, Albuquerque, NM 87176</span>
  <br />
  <br />
  T‑Mobile respects your privacy. To review our Privacy Policy,
  <a href="https://www.t-mobile.com/responsibility/privacy/privacy-policy"
    >click here</a
  >.
</container>
